<ul id="footer-navigation">
	<li class="navigation-link">
		<a href="#/home" class="navigation home">
			<span class="icon icon-home"></span>
			<span class="navigation-label">Home</span>
		</a>
	</li>
	<li class="navigation-link">
		<a href="#/scan" class="navigation scan">
			<span class="icon icon-qrcode"></span>
			<span class="navigation-label">Scan</span>
		</a>
	</li>
	<li class="navigation-link">
		<a href="#/create" class="navigation create">
			<span class="icon icon-file"></span>
			<span class="navigation-label">Create</span>
		</a>
	</li>
	<li class="navigation-link">
		<a href="#/shop" class="navigation shop">
			<span class="icon icon-cart"></span>
			<span class="navigation-label">Shop</span>
		</a>
	</li>
	<li class="navigation-link">
		<a href="#settings" class="navigation settings">
			<span class="icon icon-cog"></span>
			<span class="navigation-label">Settings</span>
		</a>
	</li>
</ul>
